body {
    background: linear-gradient(#FEFEFE, #888888);
    min-height: 100vh;
}

h1 {
    font-style: italic;
    text-align: center;
}

 
div {
    padding: 0 10px;
    text-align: center;
}

p::first-letter {
    font-weight: bold;
}

.imagem {
    margin: 30px 10px;
    max-width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}